ATOS_Habs.xls
ATOS_Habs.xlsx
CensusHabdata.accdb
Count_grid_Strata.xlsx
Counts_by_Dep.xlsx
HabSecs.xlsx
HabSecsLim.xlsx
Ottrange_Grid_CC.csv
Ottrange_Grid_CC.xlsx
Ottrange_Grid_CC_class.csv
Repro_by_Subpop.xlsx
Sum_Year_HabsecLim.xlsx
Sum_by_Grid_HD.xlsx
Sum_by_Grid_LD.xlsx
ca_census_83_17.xlsx
ca_census_spring_83_17_grid.cpg
ca_census_spring_83_17_grid.dbf
ca_census_spring_83_17_grid.prj
ca_census_spring_83_17_grid.qpj
ca_census_spring_83_17_grid.shp
ca_census_spring_83_17_grid.shx
ottmovesdat.xlsx
Shark_sum.xlsx
Updated shark data for Tim.xlsx
Depth_Function_worksheet.xlsx
Depth_use_sum.xlsx
FitK_Results_temp.rdata
Home Range Summaries.xlsx
